.app {
    @include base-layout();
    height: 400px;
    grid-template-rows: [nav-s] 60px [nav-e content-s] 1fr [content-e new-user-s] 40px [new-user-e error-s] 20px [error-e];
    grid-column: middle-s/middle-e;
    &__error {
        @include error-style();
        grid-column: 1/-1;
        grid-row: error-s/error-e;
        justify-self: center;
    }
}