@import './mixins.scss';
@import './variables.scss';

html {
    font-size: 62.5%; // 1rem is 10px
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Carter One', sans-serif;
}
.app-wrapper {
    margin: 0;
}


@import './app.scss';
@import './navbar.scss';
@import './loginForm.scss';
@import './loading-icon.scss';
@import './new-user.scss';
@import './groups/groups.scss';
@import './groups/create-group.scss';
@import './groups/group-list.scss';
@import './groups/join-group.scss';
@import './messages.scss';
@import './profile.scss';
@import './small-navbar.scss';