.app-navbar {
    display: grid;
    grid-template-columns: 1fr;
    background: black;
    color: white;
    padding: 0;
    grid-column: 1/-1;  
    grid-row: nav-s/nav-e;
    align-items: center;
    .navbar-media-wrapper {
        grid-column: 1/-1;
        display: flex;
        justify-content: space-around;

        &__button {
            width: 100px;
            height: 40px;
            @include button-style();
        }
    }
}