.profile {
    margin-top: 40px;
    grid-column: 1/-1;
    justify-self: center;
    display: grid;
    grid-template-rows: 30px [image-s] 100px [image-e button-s] 40px [button-e current-s] 100px [current-e name-s] 40px [name-e];
    grid-template-columns: 1fr;
    gap: 25px;
    & > * {
        grid-column: 1/-1;
        justify-self: center;
    }
    &__current-label {
        transform: translateY(-20px);
        grid-row: current-s/current-e;
    }
    &__current-image {
        grid-row: current-s/current-e;
        height: 100px;
        width: 100px;
    }
    &__image-label {
        grid-row: image-s/image-e;
        transform: translateY(-20px);
    }
    &__image {
        grid-row: image-s/image-e;
        height: 100px;
        width: 100px;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
    }
    &__edit-icon {
        z-index: 2;
        position: absolute;
        font-size: 2rem;
        color: white;
        transform: translateY(90px);
        &:hover {
            cursor: pointer;
        }
    }
    &__button {
        grid-row: button-s/button-e;
        @include button-style();
        justify-self: unset;
    }
    &__user-name {
        grid-row: name-s/name-e;
        align-self: center;
        font-size: 18px;
    }
}